@charset "UTF-8";

.loginForm {
	display: flex;
	justify-content: center;
}

.loginForm form {
	background-color: pink;
}

.lofinForm td {
	align-self: auto;
}

.loginForm button {
	width: 200px;
	height: 25px;
}