<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>MemberMVC4</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MemberListController</display-name>
    <servlet-name>MemberListController</servlet-name>
    <servlet-class>kr.basic.controller.MemberListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberListController</servlet-name>
    <url-pattern>/MemberListController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberDeleteController</display-name>
    <servlet-name>MemberDeleteController</servlet-name>
    <servlet-class>kr.basic.controller.MemberDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberDeleteController</servlet-name>
    <url-pattern>/MemberDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberInsertController</display-name>
    <servlet-name>MemberInsertController</servlet-name>
    <servlet-class>kr.basic.controller.MemberInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberInsertController</servlet-name>
    <url-pattern>/MemberInsert.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberUpdateController</display-name>
    <servlet-name>MemberUpdateController</servlet-name>
    <servlet-class>kr.basic.controller.MemberUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberUpdateController</servlet-name>
    <url-pattern>/MemberUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberContentController</display-name>
    <servlet-name>MemberContentController</servlet-name>
    <servlet-class>kr.basic.controller.MemberContentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberContentController</servlet-name>
    <url-pattern>/MemberContent.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberFrontController</display-name>
    <servlet-name>MemberFrontController</servlet-name>
    <servlet-class>kr.basic.frontcontroller.MemberFrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberFrontController</servlet-name>
    <url-pattern>/MemberFrontController</url-pattern>
  </servlet-mapping>
</web-app>